<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
	</head>
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		<div id="sidebar">
			<ul>
				<li tal:repeat="Domain DomainAll" class="Domain" tal:attributes="alt Domain/getId">
					<a><i class="glyphicons-show_big_thumbnails" /><span tal:content="Domain/getName"/></a>
				</li>
				<li class="Domain" tal:attributes="alt '101'">
					<a><i class="glyphicons-show_big_thumbnails" />CHƯA CÓ KHÁCH</a>
				</li>
				<li class="Domain" tal:attributes="alt '102'">
					<a><i class="glyphicons-show_big_thumbnails" />ĐANG CÓ KHÁCH</a>
				</li>
			</ul>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="row">
				<div class="col-4">
					<div id="TableAll"/>
					<div class="widget-box">
						<div class="controls">
							<input id="SearchName" type="text" placeholder="Nhập tìm món ..." style="width:55%;"/>
							<a href="#DialogInsCourse" class="btn" data-toggle="modal" tal:attributes="data-id-category ConfigCategoryAuto/getValue">
								<i class="glyphicons-plus" />
							</a>
							<a class="btn RemoveCourseSearch">
								<i class="glyphicons-circle_remove" />
							</a>							
						</div>
					</div>
					<div id="CourseF"/>
				</div>
				
				<!-- BẬT / TẮT MÀN HÌNH GỌI MÓN !-->
				<div class="col-8" tal:condition="not:ConfigSwitchBoardCall/getValue"><div id="Session"/></div>
				<div class="col-5" tal:condition="ConfigSwitchBoardCall/getValue"><div id="Session"/></div>
				
				<div class="col-3" tal:condition="ConfigSwitchBoardCall/getValue">
					<div class="accordion widget-box" id="collapse-group">
						<div class="accordion-group widget-box" tal:repeat="Category CategoryAll">
							<div tal:condition="Category/getEnable" class="accordion-heading">
								<div class="widget-title">
									<a data-parent="#collapse-group" tal:attributes="href php:'#'.Category->getIdString();" data-toggle="collapse">
										<span class="icon"><i class="glyphicons-fast_food"></i></span><h5 tal:content="Category/getName"/>
									</a>
								</div>
							</div>
							<div tal:condition="Category/getEnable" class="collapse accordion-body" tal:attributes="id Category/getIdString">
								<div class="widget-content nopadding size-12">
									<ul class="activity-list">
										<li tal:repeat="Course Category/getCourseAll">
											<a class="course-item">
												<button class="Course pull-left" tal:attributes="alt Course/getId;data-delta 'plus' ">+</button>
												<strong tal:content="Course/getName"/>
												<button class="Course pull-right" tal:attributes="alt Course/getId;data-delta 'minus' ">-</button>
											</a>
											<!--
											<a class="course-item tip-left" tal:attributes="data-original-title php: Course->getName() . ' ' . Course->getPrice1Print()">
												<strong class="Course" tal:content="Course/getName" tal:attributes="alt Course/getId;data-delta 'plus' "/>
											</a>
											!-->
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
		<div id="TableActive" />
		<div id="DomainActive" tal:attributes="alt Domain/getId"/>
		
		<!-- INSERT DIALOG  -->
		<div id="DialogInsCourse" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3><i class="glyphicons-fast_food modal-icon"/>THÊM MÓN TỰ CHỌN</h3>
					</div>
					<div class="form-horizontal">
						<div class="modal-body">													
							<div class="form-group">
								<label class="control-label">Tên</label>
								<div class="controls">
									<input id="CName1" name="CName1" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Tên ngắn</label>
								<div class="controls">
									<input id="CShortName1" name="CShortName1" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Giá bán</label>
								<div class="controls">
									<input id="CPrice1" name="CPrice1" type="text" class="form-control input-small"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Đơn vị</label>
								<div class="controls">
									<select name="CUnit1" id="CUnit1" style="width:80%;">
										<option tal:repeat="Unit UnitAll" tal:attributes="value Unit/getName">
											<span tal:content="Unit/getName" />
										</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Số phút chuẩn bị</label>
								<div class="controls">
									<input id="CPrepare1" name="CPrepare1" type="text" class="form-control input-small"/>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button id="URLInsCourseButton" class="btn btn-primary btn-small"><i class="glyphicons-download_alt"/> Lưu</button>
							<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- INSERT DIALOG  -->
		<div id="DialogCallCourse" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3><i class="glyphicons-bell modal-icon"/>DANH SÁCH MÓN ĐANG CHỜ ...</h3>
					</div>
					<div class="form-horizontal">
						<div class="modal-body">
							<div id="CourseLog" />
						</div>
						<div class="modal-footer">							
							<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Đóng lại</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- DIALOG PREPARE	-->
		<div id="DialogPrepareCourse" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3><i class="glyphicons-stopwatch modal-icon"/>IN BẾP</h3>
					</div>
					<form class="form">
						<div class="form-group">
							<div id="CoursePrepare" width="320px" height="480px"/>
						</div>
						<div class="modal-footer">									
							<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Đóng</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- END DIALOG PREPARE -->
					
		<div id="audioNotify" />
		<!-- END INSERT DIALOG  -->
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
        <script>
			//THIẾT LẬP NOTIFY CHO HỆ THỐNG			
			function getNotifyCourse(){
				var TypeNotify;
				$.ajax({
					type: "POST",
					dataType: "json",
					url: '/notify/course',
					success: function(data){																													
						if (data.result == "OK"){
							//NGHE NHẠC NỀN CẢNH BÁO
							$("#audioNotify").jPlayer({
								ready: function() {
									$(this).jPlayer("setMedia", {
										mp3:"/data/notify/bell01.mp3"
									}).jPlayer("play");
								},
								swfPath: "data",
								supplied: "mp3",
								loop: true,
								wmode: "window"
							});
							//TĂNG SỐ LẦN NOTIFY
							nCountNotify = nCountNotify + 1;
							
							//HIỂN THỊ THÔNG BÁO
							if (data.type==1){
								TypeNotify = "gritter-red";
							}else{
								TypeNotify = "gritter-green";
							}
							$.gritter.add({
								title:	data.title,
								text:	data.message,
								position: 'bottom-left',														
								class_name:TypeNotify,
								sticky:true,
								after_close: function(){
									nCountNotify = nCountNotify - 1;
									if (nCountNotify == 0){
										$("#audioNotify").jPlayer("destroy");
									}
								}
							});
						}		
					}					
				});
			}
			var nCountNotify = 0;
			$.extend($.gritter.options, { 
				position: 'bottom-left',
				fade_in_speed: 'medium', 
				fade_out_speed: 2000 
			});
			/*
			setInterval(function(){
				getNotifyCourse();
			}, 10000);
			*/
			
			//NẠP DANH SÁCH CÁC BÀN			
			$('.Domain').click(function(){
				var IdDomain = $(this).attr('alt');				
				$("#DomainActive").attr('alt', IdDomain);
				$("#TableAll").load("/selling/load/domain/"+IdDomain);
				$(this).toggleClass('active').siblings().removeClass('active');
				$("#SearchName").focus();
			});
			$('.Domain:first').click();
			
			//-----------------------------------------------------------------------------------
			//Insert 1 COURSE
			$('#URLInsCourseButton').click(function(){
				var Data = [];
				Data[0] = 'null';								
				Data[1] = 22;
				Data[2] = $('#CName1').val();
				Data[3] = $('#CShortName1').val();
				Data[4] = $('#CUnit1').val();
				Data[5] = $('#CPrice1').val();
				Data[6] = $('#CPrice1').val();
				Data[7] = $('#CPrice1').val();
				Data[8] = $('#CPrice1').val();
				Data[9] = "";
				Data[10] = $('#CPrepare1').val();
				Data[11] = 0;
				
				var URL = "/object/ins/Course";
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
			//---------------------------------------------------------------------------
			//Xử lí search tên			
			$('#SearchName').keyup(function(e){
				var Name 		= $(this).val();										
				$("#CourseF").load("/selling/search/course", { Name: Name });
			});
			
			//-----------------------------------------------------------------------------------
			//CALL COURSE
			$(".RemoveCourseSearch").click(function(){
				$("#CourseF").html("");
			});
			
			//-----------------------------------------------------------------------------------
			//PREPARE COURSE
			$(".CoursePreparePrint").click(function(){
				URL = "/selling/log/course/print/prepare";
				var mPDF = new PDFObject({
					url: URL,				
					height: "500px",
					pdfOpenParams:{
						view: 'Fit', 
						toolbar: '1', 
						statusbar: '1', 
						messages: '1',
						navpanes: '1' 
					}				
				}).embed("CoursePrepare");
			});
			
			//Mặc định vào ô tìm kiếm
			$("#SearchName").focus();
			
        </script>
	</body>
</html>