<!DOCTYPE html>
<html lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body>
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/StyleTools"/>
		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/Locationbar"/>
			<div class="row">
				<div class="col-12">
					<a href="#DialogIns" data-toggle="modal" class="btn btn-primary btn-ins">
						<i class="glyphicons-plus"/> Thêm mới
					</a>
					<a href="#DialogDelSelected" data-toggle="modal" class="btn btn-primary btn-ins">
						<i class="glyphicons-remove_2"/> Xóa chọn
					</a>
					<div class="widget-box">
						<div class="widget-content nopadding">
							<table class="table table-bordered table-striped table-hover with-check">								
								<thead>
									<tr>
										<th width="40"><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox"/></th>
										<th class="left">TÊN MÓN</th>
										<th width="120"><div class="text-right">SỐ LƯỢNG</div></th>
										<th width="120"><div class="text-right">GIÁ</div></th>
										<th width="40"><i class="glyphicons-bin"/></th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="CD TypeRoom/getDefaultAll">
										<td class="center"><input class="CheckedDel" type="checkbox" tal:attributes="data-id CD/getId"/></td>
										<td><a class="update-item" href="#DialogEdit" data-toggle="modal" tal:attributes="data-id CD/getId" tal:content="CD/getCourse/getName"/></td>
										<td class="right"><span tal:content="CD/getCount"/></td>
										<td class="right"><span tal:content="CD/getPricePrint"/></td>
										<td class="center"><a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id CD/getId"><i class="glyphicons-remove_2"/></a></td>
									</tr>
								</tbody>																								
							</table>
						</div>
					</div>
					
					<!-- INSERT DIALOG  -->
					<div id="DialogIns" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3><i class="glyphicons-tag modal-icon"/>THÊM MỚI MÓN MẶC ĐỊNH</h3>
								</div>
								<div class="form-horizontal">
									<div class="modal-body">										
										<div class="form-group">
											<label class="control-label">Món</label>
											<div class="controls">
												<select name="IdCourse1" id="IdCourse1" style="width:80%;">
													<option tal:repeat="Course CourseAll" tal:attributes="value Course/getId">
														<span tal:content="Course/getCategory/getName" /> / <span tal:content="Course/getName" /> (<span tal:content="Course/getUnit" />)
													</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Số lượng</label>
											<div class="controls">
												<input id="Count1" name="Count1" type="text" class="form-control input-small" value="1"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Giá</label>
											<div class="controls">
												<input id="Price1" name="Price1" type="text" class="form-control input-small" value="0"/>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button class="btn btn-primary btn-small" id="URLInsButton"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</div>
							</div>
						</div>
					</div>									
					<!-- END INSERT DIALOG  -->
					
					<!-- UPDATE DIALOG  -->
					<div id="DialogEdit" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3><i class="glyphicons-tag modal-icon"/>CẬP NHẬT MÓN MẶC ĐỊNH</h3>
								</div>
								<div method="post" class="form-horizontal">
									<div class="modal-body">
										<div class="form-group">
											<label class="control-label">Món</label>
											<div class="controls">
												<select name="IdCourse2" id="IdCourse2" style="width:80%;">
													<option tal:repeat="Course CourseAll" tal:attributes="value Course/getId">
														<span tal:content="Course/getCategory/getName" /> / <span tal:content="Course/getName" /> (<span tal:content="Course/getUnit" />)
													</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Số lượng</label>
											<div class="controls">
												<input id="Count2" name="Count2" type="text" class="form-control input-small" value="1"/>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label">Giá</label>
											<div class="controls">
												<input id="Price2" name="Price2" type="text" class="form-control input-small" value="0"/>
											</div>
										</div>
									</div>									
									<div class="modal-footer">
										<button class="btn btn-primary btn-small" id="URLUpdButton"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END UPDATE DIALOG  -->
					<div metal:use-macro="mDialog.xhtml/DialogDel"/>
					<div metal:use-macro="mDialog.xhtml/DialogDelSelected"/>
					
				</div>
			</div>
		</div>
		<div id="IdType" tal:attributes="alt TypeRoom/getId"/>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
			$('#URLDelSelectedButton').click(function(){
				var count = 0;
				var Data = [];
				var URL = "/object/del/CourseDefault/0";
				
				$(".CheckedDel").each(function( i, obj){
					if ( $(this).is(':checked')==true ){
						count += 1;
						Data[count] = $(this).attr('data-id');
					}
				});
				
				$.ajax({
					type: "POST",
					data: {ListId:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Delete 1 UNIT			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){			
				var URL = "/object/del/CourseDefault/" + $(this).attr('alt');
				$.ajax({
					type: "POST",					
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		
			//-----------------------------------------------------------------------------------
			//Insert 1 UNIT
			$('#URLInsButton').click(function(){
				var Data = [];
				Data[0] = 'null';
				Data[1] = $('#IdType').attr('alt');
				Data[2] = $('#IdCourse1').val();
				Data[3] = $('#Count1').val();
				Data[4] = $('#Price1').val();
				
				var URL = "/object/ins/CourseDefault";
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Load 1 UNIT
			//-----------------------------------------------------------------------------------
			$('.update-item').click(function(){
				//Load dữ liệu JSON về
				var url = "/object/load/CourseDefault/" + $(this).attr('data-id');
				
				//Load dữ liệu JSON lên FORM
				$.getJSON(url, function(data){
					$('#URLUpdButton').attr('alt', data.Id);
					$('#IdCourse2').select2('val', data.IdCourse);
					$('#Count2').attr('value', data.Count);
					$('#Price2').attr('value', data.Price);
				});
			});
			
			//-----------------------------------------------------------------------------------
			//Update 1 UNIT
			//-----------------------------------------------------------------------------------
			$('#URLUpdButton').click(function(){
				var Data = [];
				Data[0] = $('#URLUpdButton').attr('alt');
				Data[1] = $('#IdType').attr('alt');
				Data[2] = $('#IdCourse2').val();
				Data[3] = $('#Count2').val();
				Data[4] = $('#Price2').val();
																	
				var URL = "/object/upd/CourseDefault";
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});			
		/*]]>*/</script>
	</body>
</html>