<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						<div class="menu">
							<ul class="nav nav-list" tal:condition="php: @\MVC\Base\SessionRegistry::instance()->getCurrentUser()->isAdmin()">
								<li class="nav-header">CHỨC NĂNG</li>
								<li>
									<a tal:attributes="href '/selling'">
										<i class="icon-shopping-cart" />
										BÁN HÀNG
									</a>
								</li>
								<li>
									<a tal:attributes="href '/import'">
										<i class="icon-truck" />
										NHẬP HÀNG
									</a>
								</li>
								<li>
									<a tal:attributes="href '/paid'">
										<i class="icon-dollar" />
										KHOẢN CHI
									</a>
								</li>
								<li>
									<a tal:attributes="href '/collect'">
										<i class="icon-dollar" />
										KHOẢN THU
									</a>
								</li>
								<li>
									<a tal:attributes="href '/report'">
										<i class="icon-book" />
										BÁO CÁO
									</a>
								</li>
								<li>
									<a tal:attributes="href '/setting'">
										<i class="icon-gear" />
										THIẾT LẬP
									</a>
								</li>
							</ul>
							<ul class="nav nav-list" tal:condition="php: @\MVC\Base\SessionRegistry::instance()->getCurrentUser()->isSeller()">
								<li class="nav-header">CHỨC NĂNG</li>
								<li>
									<a tal:attributes="href '/selling'">
										<i class="icon-shopping-cart" />
										BÁN HÀNG
									</a>
								</li>
							</ul>
						</div>
						<BR/>
						<div class="menu">
							<ul class="nav nav-list">
								<li class="nav-header">THỐNG KÊ</li>
								<li>									
									<i class="icon-user" /> <span tal:content="php:@\MVC\Library\Statistic::getOnlinePrint()"/> trực tuyến
								</li>
								<li>									
									<i class="icon-bar-chart" /> <span class="bubble" tal:content="php:@\MVC\Library\Statistic::getCountPrint()"/> lượt xem
								</li>
							</ul>
						</div>
					</div>
					<div class="span9">
						<div class="content">
							<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
							<center><img src="/data/images/bg_manager.jpg" width="50%" style="opacity:.25;"/></center>
						</div>
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>