<!DOCTYPE html>
<html style="overflow-y:hidden;" lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div class="menu">
			<div id="sidebar">
				<ul style="display: block;">
					<li tal:repeat="Term1 TermAll" tal:attributes="class php:Term1->getId()==Term->getId()?'active':'disable'">
						<a tal:attributes="href Term1/getURLCollect">
							<i class="icon-tag"/> <span tal:content="Term1/getName" />
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="container-fluid">							
				<div class="row">
					<div class="col-xs-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon"><i class="icon-table"/></span>
								<h5 tal:content="Title"/> 
							</div>
							<div class="widget-content nopadding">
								<div role="grid" class="dataTables_wrapper">																		
									<table class="table table-bordered table-striped table-hover data-table">
										<thead>
											<tr>
												<th width="30"><div class="text-center">STT</div></th>
												<th width="120">NGÀY</th>
												<th>DIỄN GIẢI</th>
												<th width="120"><div class="text-right">GIÁ TRỊ</div></th>
												<th width="30" />
											</tr>
										</thead>								
										<tbody role="alert" aria-live="polite" aria-relevant="all">
											<tr tal:repeat="Collect CollectAll">
												<td><div class="text-center" tal:content="repeat/Collect/number" /></td>
												<td><a tal:attributes="href Collect/getURLUpdLoad"><div tal:content="Collect/getDatePrint"/></a></td>
												<td><div tal:content="Collect/getNote"/></td>
												<td><div class="text-right" tal:content="Collect/getValuePrint"/></td>
												<td><a tal:attributes="href Collect/getURLDelLoad"><span class="icon-remove"/></a></td>
											</tr>
										</tbody>
									</table>
									<div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix">
										<div class="dataTables_filter">
											<label style="margin-top:5px;">
												<a tal:attributes="href Term/getURLCollectInsLoad"><span class="icon-plus"/> Thêm mới</a>
											</label>
										</div>
										<div metal:use-macro="mAdmin.xhtml/Pagebar"/>
									</div>
								</div>  
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>