<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						<div class="menu">
							<ul class="nav nav-list">
								<li class="nav-header">CHỨC NĂNG</li>
								<li><a tal:attributes="href OI/getURLUpdLoad">Cập nhật</a></li>
								<li>
									<a target="blank" data-transition="none" tal:attributes="href OI/getURLPrint">
										<i class="icon-print icon-2x"/> In phiếu duyệt
									</a>
								</li>
								<li>
									<a target="blank" data-transition="none" tal:attributes="href OI/getURLPrint1">
										<i class="icon-print icon-2x"/> In nhập kho
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="span9">												
						<div class="content">
							<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th width="30">STT</th>
										<th>TÊN</th>
										<th width="120">
											<div class="text-right">
												SỐ LƯỢNG
											</div>
										</th>
										<th width="120">
											<div class="text-right">
												ĐƠN GIÁ
											</div>
										</th>
										<th width="120">
											<div class="text-right">
												THÀNH TIỀN
											</div>
										</th>										
									</tr>
								</thead>								
								<tbody>
									<tr tal:repeat="Detail OI/getDetails">
										<td><div tal:content="repeat/Detail/number" /></td>
										<td><a tal:attributes="href Detail/getURLUpdLoad"><div tal:content="Detail/getResource/getName"/></a></td>
										<td><div class="text-right" tal:content="Detail/getCountPrint"/></td>
										<td><div class="text-right" tal:content="Detail/getPricePrint"/></td>
										<td><div class="text-right" tal:content="Detail/getValuePrint"/></td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="4"><div class="text-right">TỔNG</div></td>
										<td><div class="text-right" tal:content="OI/getValuePrint" /></td>
									</tr>
								</tfoot>
							</table>
						</div>						
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>