<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
			/*<![CDATA[*/
			$(function() {
				$('#Date').datepicker();				
			});
			/*]]>*/
		</script>
	</head>	
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="span3" />
				<div class="span9 main">
					<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
					<form class="form-horizontal" tal:attributes="action Supplier/getURLImportInsExe" method="post">
						<div class="control-group">
							<label class="control-label" for="Date">Ngày</label>
							<div class="controls">
								<input id="Date" name="Date" type="text" data-date-format="yyyy-mm-dd"/>
							</div>
						</div>												
						<div class="control-group">
							<label class="control-label" for="Note">Ghi chú</label>
							<div class="controls">
								<input id="Note" name="Note" type="text" />
							</div>
						</div>											
						<div class="control-group">
							<div class="controls">
								<button type="submit" class="btn" value="submit-value">Cập nhật</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>