<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						<div class="menu">
							<ul class="nav nav-list" tal:condition="php: @\MVC\Base\SessionRegistry::instance()->getCurrentUser()->isAdmin()">
								<li class="nav-header">KHOẢN CHI</li>
								<li>
									<a tal:attributes="href '/paid/general'">
										<i class="icon-dollar" />
										CHUNG
									</a>
								</li>
								<li>
									<a tal:attributes="href '/paid/payroll'">
										<i class="icon-dollar" />
										LƯƠNG
									</a>
								</li>								
								<li>
									<a tal:attributes="href '/paid/supplier'">
										<i class="icon-dollar" />
										NHÀ CUNG CẤP
									</a>
								</li>
							</ul>							
						</div>
					</div>
					<div class="span9">
						<div class="content">
							<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
							<center><img src="/data/images/bg_manager.jpg" width="50%" style="opacity:.25;"/></center>
						</div>
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>