<body>
	<BR/>
	<span metal:use-macro="mAdmin.xhtml/ReportHeader"/>
	
	<BR/>
	<table width="100%" border="1" cellpadding="2" >
		<tr>
			<th width="5%" align="center"><B>STT</B></th>
			<th width="25%" align="left"><B>MẶT HÀNG</B></th>
			<th width="8%" align="left"><B>ĐƠN VỊ</B></th>				
			<th width="8%" align="right"><B>T.ĐẦU</B></th>				
			<th width="8%" align="right"><B>NHẬP</B></th>				
			<th width="8%" align="right"><B>XUẤT</B></th>				
			<th width="8%" align="right"><B>T.CUỐI</B></th>
			<th width="10%" align="right"><B>GIÁ</B></th>
			<th width="20%" align="right"><B>T.TIỀN</B></th>
		</tr>
		<tr tal:repeat="TS TrackingStoreAll">
			<td align="center" tal:content="repeat/TS/number" />
			<td align="left" tal:content="TS/getResource/getName" />
			<td align="left" tal:content="TS/getResource/getUnit" />				
			<td align="right">			
				<span tal:content="TS/getCountOldPrint"/>
			</td>				
			<td align="right">
				<span tal:content="TS/getCountImportPrint"/>
			</td>				
			<td align="right">
				<span tal:content="TS/getCountExportPrint"/>
			</td>				
			<td align="right">
				<span tal:content="TS/getCountRemainPrint"/>
			</td>				
			<td align="right">
				<span tal:content="TS/getPricePrint"/>
			</td>
			<td align="right">
				<span tal:content="TS/getCountRemainValuePrint"/>
			</td>
		</tr>
		<tr>			
			<th colspan="8" width="80%" align="right"><B>TỔNG CỘNG</B></th>
			<th width="20%" align="right"><B tal:content="Sum/formatCurrency" /></th>
		</tr>
	</table>
	<p align="right" tal:content="php:'(' . Sum->readDigit() . ' đồng )'" />
</body>