<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>				
	</head>
<body>
	<div data-role="page" class="type-interior">
		<span metal:use-macro="macros.xhtml/header"/>
		<div data-role="content">
			<div class="content-primary">
				<span tal:content="Title" />
			</div>
			<div class="content-secondary">
				
			</div>
		</div>
		<span metal:use-macro="macros.xhtml/footer"/>
	</div>		
</body>
</html>