<body>
	<BR/>
	<span metal:use-macro="mAdmin.xhtml/ReportHeader"/>	
	<h2 align="center" tal:content="Title" />
	<span tal:repeat="Data DataAll">
	<br/>
	<table tal:condition="php:Data[1]" width="100%" border="1" cellpadding="2" >
		<tr>
			<th align="left" colspan="5" width="100%"><H3>DANH MỤC <b tal:content="php:Data[0]" /></H3></th>
		</tr>
		<tr>
			<th width="25%"><B>MÓN</B></th>
			<th width="75%"><B>PHÂN PHỐI</B></th>
		</tr>
		<tr tal:repeat="C php:Data[1]">
			<td align="left">
				<span tal:content="php:C[0]" />
			</td>
			<td align="right">
				<table tal:condition="php:C[2]" width="100%" border="0" cellpadding="2">
					<tr tal:repeat="R php:C[2]">
						<td width="15%" tal:content="php:R[1]"/>
						<td width="25%" align="left" tal:content="php:R[2]"/>
						<td width="5%" align="center">=</td>
						<td width="15%" tal:content="php:R[3]"/>
						<td width="20%" align="left" tal:content="php:R[4]"/>
						<td width="20%" tal:content="php:R[0]"/>
					</tr>
				</table>				
			</td>
		</tr>
	</table>	
	</span>
		
</body>