<body>
	<BR/><p/><p/>
	<table width="100%" border="0" cellpadding="2" >
		<tr>			
			<td width="50%" align="left"><B>KHÁCH SẠN BA ĐỨC</B></td>
			<td width="50%" align="right"><B>NHẬT KÝ KHO HÀNG</B></td>			
		</tr>
		<tr>			
			<td width="50%" align="left">67/26B Phó Cơ Điều, P.4, TP.VL</td>
			<td width="50%" align="right">TÊN HÀNG: ________________________</td>
		</tr>
		<tr>			
			<td width="50%" align="left">ĐT: (0703) 828 555</td>
			<td width="50%" align="right">QUẢN LÝ: _________________________</td>
		</tr>
	</table>
	<p/>
	<table width="100%" border="1" cellpadding="3" >
		<tr>
			<th align="left" colspan="4" width="32%">
				CỘT 1 
			</th>
			<th width="2%" />
			<th align="left" colspan="4" width="32%">
				CỘT 2
			</th>
			<th width="2%" />
			<th align="left" colspan="4" width="32%">
				CỘT 3
			</th>
		</tr>
		<tr>
			<th width="11%" align="center"><B>Ngày</B></th>
			<th width="7%" align="center"><B>Nhập</B></th>
			<th width="7%" align="center"><B>Xuất</B></th>
			<th width="7%" align="center"><B>Tồn</B></th>
			<th width="2%" />
			<th width="11%" align="center"><B>Ngày</B></th>
			<th width="7%" align="center"><B>Nhập</B></th>
			<th width="7%" align="center"><B>Xuất</B></th>
			<th width="7%" align="center"><B>Tồn</B></th>
			<th width="2%" />
			<th width="11%" align="center"><B>Ngày</B></th>
			<th width="7%" align="center"><B>Nhập</B></th>
			<th width="7%" align="center"><B>Xuất</B></th>
			<th width="7%" align="center"><B>Tồn</B></th>
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
	</table>
	<p/><p/>
	<p>--------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
	<p/><p/>
	<table width="100%" border="0" cellpadding="2" >
		<tr>			
			<td width="50%" align="left"><B>KHÁCH SẠN BA ĐỨC</B></td>
			<td width="50%" align="right"><B>NHẬT KÝ KHO HÀNG</B></td>			
		</tr>
		<tr>			
			<td width="50%" align="left">67/26B Phó Cơ Điều, P.4, TP.VL</td>
			<td width="50%" align="right">TÊN HÀNG: ________________________</td>
		</tr>
		<tr>			
			<td width="50%" align="left">ĐT: (0703) 828 555</td>
			<td width="50%" align="right">QUẢN LÝ: _________________________</td>
		</tr>
	</table>
	<p/>
	<table width="100%" border="1" cellpadding="3" >
		<tr>
			<th align="left" colspan="4" width="32%">
				CỘT 1 
			</th>
			<th width="2%" />
			<th align="left" colspan="4" width="32%">
				CỘT 2
			</th>
			<th width="2%" />
			<th align="left" colspan="4" width="32%">
				CỘT 3
			</th>
		</tr>
		<tr>
			<th width="11%" align="center"><B>Ngày</B></th>
			<th width="7%" align="center"><B>Nhập</B></th>
			<th width="7%" align="center"><B>Xuất</B></th>
			<th width="7%" align="center"><B>Tồn</B></th>
			<th width="2%" />
			<th width="11%" align="center"><B>Ngày</B></th>
			<th width="7%" align="center"><B>Nhập</B></th>
			<th width="7%" align="center"><B>Xuất</B></th>
			<th width="7%" align="center"><B>Tồn</B></th>
			<th width="2%" />
			<th width="11%" align="center"><B>Ngày</B></th>
			<th width="7%" align="center"><B>Nhập</B></th>
			<th width="7%" align="center"><B>Xuất</B></th>
			<th width="7%" align="center"><B>Tồn</B></th>
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
		<tr>
			<td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td /><td />
		</tr>
	</table>
</body>