<body>
	<BR/>
	<table width="100%" border="0" cellpadding="2" >
		<tr>			
			<td width="50%" align="left"><B>KHÁCH SẠN BA ĐỨC</B></td>
			<td width="50%" align="right"><B tal:content="Title"/></td>
		</tr>
		<tr>			
			<td width="50%" align="left">ĐC: 67/26B Phó Cơ Điều, P.4, TP.VL</td>
			<td width="50%" align="right">Lưu hành nội bộ</td>
		</tr>
		<tr>			
			<td width="50%" align="left">ĐT: (0703) 828 555</td>
			<td width="50%" align="left" />
		</tr>
	</table>
	<BR/>
	<span tal:repeat="D Data">
		<h2 tal:content="php:D[0]"/>
		<table width="100%" border="1" cellpadding="2" >
			<tr>
				<th width="26%" align="left" rowspan="2"><B>PHÒNG</B></th>
				<th width="24%" colspan="3" align="center"><B>THUÊ GIỜ</B></th>
				<th width="1%" />
				<th width="24%" colspan="3" align="center"><B>THUÊ ĐÊM</B></th>
				<th width="1%" />
				<th width="24%" colspan="3" align="center"><B>THUÊ NGÀY</B></th>
			</tr>
			<tr>				
				<th width="8%" align="right"><B>S.GIỜ</B></th>
				<th width="8%" align="right"><B>S.PHIẾU</B></th>
				<th width="8%" align="right"><B>T.TIỀN</B></th>
				<th width="1%" />
				<th width="8%" align="right"><B>S.GIỜ</B></th>
				<th width="8%" align="right"><B>S.PHIẾU</B></th>
				<th width="8%" align="right"><B>T.TIỀN</B></th>	
				<th width="1%" />
				<th width="8%" align="right"><B>S.GIỜ</B></th>
				<th width="8%" align="right"><B>S.PHIẾU</B></th>
				<th width="8%" align="right"><B>T.TIỀN</B></th>				
			</tr>
			<tr tal:repeat="D1 php:D[1]">
				<td align="left"><span tal:content="php:D1[0]"/></td>
				<td align="right"><span tal:content="php:D1[1]"/></td>
				<td align="right"><span tal:content="php:D1[1]"/></td>
				<td align="right"><span tal:content="php:D1[1]"/></td>
				<td />
				<td align="right"><span tal:content="php:D1[2]"/></td>
				<td align="right"><span tal:content="php:D1[2]"/></td>
				<td align="right"><span tal:content="php:D1[2]"/></td>
				<td />
				<td align="right"><span tal:content="php:D1[3]"/></td>
				<td align="right"><span tal:content="php:D1[3]"/></td>
				<td align="right"><span tal:content="php:D1[3]"/></td>
			</tr>
			<tr>
				<td align="left">TỔNG</td>
				<td align="right">0</td>
				<td align="right">0</td>
				<td align="right">0</td>
				<td />
				<td align="right">0</td>
				<td align="right">0</td>
				<td align="right">0</td>
				<td />
				<td align="right">0</td>
				<td align="right">0</td>
				<td align="right">0</td>
			</tr>
		</table>
	</span>
	<!--	
	<BR/>	
	<h2>3. TẦN SUẤT </h2>
	<table width="100%" border="1" cellpadding="2" >
		<tr>			
			<th width="40%" align="left"><B>LOẠI</B></th>
			<th width="20%" align="right"><B>SỐ PHIẾU</B></th>
			<th width="20%" align="right"><B>SỐ GIỜ</B></th>
			<th width="20%" align="right"><B>GIÁ TRỊ</B></th>
		</tr>
		<tr>
			<td align="left">THƯỜNG</td>
			<td align="right"><font color="blue"><B tal:content="NormalCountTicket"/></font> (<font color="red"><span tal:content="NormalRateTicket"/></font>%)</td>
			<td align="right"><font color="blue"><B tal:content="NormalCountHour"/></font> (<font color="red"><span tal:content="NormalRateHour"/></font>%)</td>
			<td align="right"><font color="blue"><B tal:content="NormalValue"/></font> (<font color="red"><span tal:content="NormalRateValue"/></font>%)</td>
		</tr>
		<tr>
			<td align="left">VIP</td>
			<td align="right"><font color="blue"><B tal:content="VIPCountTicket"/></font> (<font color="red"><span tal:content="VIPRateTicket"/></font>%)</td>
			<td align="right"><font color="blue"><B tal:content="VIPCountHour"/></font> (<font color="red"><span tal:content="VIPRateHour"/></font>%)</td>
			<td align="right"><font color="blue"><B tal:content="VIPValue"/></font> (<font color="red"><span tal:content="VIPRateValue"/></font>%)</td>
		</tr>
		<tr>
			<td align="left"><B>TỔNG</B></td>
			<td align="right"><span tal:content="SUMCountTicket"/> (100%)</td>
			<td align="right"><span tal:content="SUMCountHour"/> (100%)</td>
			<td align="right"><span tal:content="SUMValue"/> (100%)</td>
		</tr>
	</table>
	!-->
</body>