<!DOCTYPE html>
<html style="overflow-y:hidden;" lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div class="menu">
			<div id="sidebar">
				<ul style="display: block;">
					<li><a tal:attributes="href Tracking/getURLCustomer"><i class="icon-user" />CN. KHÁCH HÀNG</a></li>
					<li><a target="blank" tal:attributes="href Tracking/getURLCourse"><i class="icon-beer" />TK. CÁC MÓN</a></li>
					<li><a target="blank" tal:attributes="href Tracking/getURLHours"><i class="icon-beer" />TK. GIỜ THUÊ</a></li>
					<li><a target="blank" tal:attributes="href Tracking/getURLGeneral"><i class="icon-book" />TH. CHUNG</a></li>					
					<li><a target="blank" tal:attributes="href Tracking/getURLCollectGeneral"><i class="icon-book" />TH. THU</a></li>
					<li><a target="blank" tal:attributes="href Tracking/getURLPaidGeneral"><i class="icon-book" />TH. CHI</a></li>
				</ul>
			</div>
		</div>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>			
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>			
			<div class="container-fluid">							
				<div class="row">
					<div class="col-xs-12">
						
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>