<body>
	<BR/>
	<table width="100%" border="0" cellpadding="2" >
		<tr>			
			<td width="50%" align="left"><B>KARAOKE BA ĐỨC</B></td>
			<td width="50%" align="right"><B tal:content="Title"/></td>
		</tr>
		<tr>			
			<td width="50%" align="left">ĐC: 67/26B Phó Cơ Điều, P.4, TP.VL</td>
			<td width="50%" align="right">Lưu hành nội bộ</td>
		</tr>
		<tr>			
			<td width="50%" align="left">ĐT: (0703) 828 555</td>
			<td width="50%" align="left" />
		</tr>
	</table>
	<BR />	
	<h2>1. CHI KHÁC</h2>
	<table width="100%" border="1" cellpadding="2" >
		<tr>			
			<th width="5%" align="center"><B>STT</B></th>
			<th width="10%" align="right"><B>NGÀY</B></th>
			<th width="25%" align="left"><B>MỤC</B></th>
			<th width="45%" align="left"><B>DIỄN GIẢI</B></th>
			<th width="15%" align="right"><B>TỔNG TIỀN</B></th>
		</tr>
		<tr tal:repeat="Paid Tracking/getPaidAllSum">
			<td align="center" tal:content="repeat/Paid/number" />
			<td align="right" tal:content="Paid/getDatePrint" />
			<td align="left" tal:content="Paid/getTerm/getName" />
			<td align="left" tal:content="Paid/getNote" />
			<td align="right" tal:content="Paid/getValuePrint" />
		</tr>
		<tr>
			<th align="right" colspan="4"><H3>TỔNG (1)</H3></th>
			<th align="right">
				<H3 tal:content="Tracking/getPaidAllSumValuePrint" />
			</th>
		</tr>
	</table>
	<BR/>
	<h2>2. CHI LƯƠNG</h2>	
	<table width="100%" border="1" cellpadding="2" >
		<tr>
			<th width="5%" align="center"><B>STT</B></th>
			<th width="20%" align="left"><B>NHÂN VIÊN</B></th>
			<th width="24%" align="left"><B>DIỄN GIẢI</B></th>
			<th width="12%" align="right"><B>THỰC LÃNH</B></th>
			<th width="12%" align="right"><B>PHỤ CẤP</B></th>
			<th width="12%" align="right"><B>TẠM ỨNG</B></th>
			<th width="15%" align="right"><B>LƯƠNG CB</B></th>
		</tr>
		<tr tal:repeat="PPR Tracking/getPaidPayRollAll">
			<td align="center" tal:content="repeat/PPR/number" />
			<td align="left" tal:content="PPR/getEmployee/getName" />
			<td align="left" tal:content="PPR/getNote" />
			<td align="right" tal:content="PPR/getValueRealPrint" />
			<td align="right" tal:content="PPR/getValueSubPrint" />
			<td align="right" tal:content="PPR/getValuePrePrint" />
			<td align="right" tal:content="PPR/getValueBasePrint" />
		</tr>
		<tr>
			<th align="right" colspan="3"><H3>TỔNG (2)</H3></th>
			<th align="right"><span tal:content="Tracking/getPaidPayRollAllValueRealPrint" /></th>
			<th align="right"><span tal:content="Tracking/getPaidPayRollAllValueSubPrint" /></th>
			<th align="right"><span tal:content="Tracking/getPaidPayRollAllValuePrePrint" /></th>
			<th align="right"><H3 tal:content="Tracking/getPaidPayRollAllValueBasePrint" /></th>
		</tr>
	</table>	
	<BR/>
	<h2>3. CHI NHẬP HÀNG</h2>
	<table width="100%" border="1" cellpadding="2" >
		<tr>
			<th width="5%" align="center"><B>STT</B></th>
			<th width="30%" align="left"><B>NHÀ CUNG CẤP</B></th>
			<th width="10%" align="center"><B>NGÀY</B></th>
			<th width="40%" align="left"><B>DIỄN GIẢI</B></th>
			<th width="15%" align="right"><B>TỔNG TIỀN</B></th>
		</tr>		
		<tr tal:repeat="Order Tracking/getOrderAllSum">
			<td align="center" tal:content="repeat/Order/number" />
			<td align="left" tal:content="Order/getSupplier/getName" />			
			<td align="left" tal:content="Order/getDatePrint" />
			<td align="left" tal:content="Order/getSupplier/getNote" />
			<td align="right" tal:content="Order/getValuePrint" />
		</tr>
		<tr>
			<th align="right" colspan="4"><H3>TỔNG (3)</H3></th>
			<th align="right">
				<H3 tal:content="php:Tracking->getOrderAllSumValuePrint()" />
			</th>
		</tr>		
	</table>
	<BR/>
	<table width="100%" border="0" cellpadding="2">
		<tr>
			<td width="85%" align="right" />
			<td width="15%" align="right" />
		</tr>
		<tr>
			<td width="85%" align="right">
				<h3>TỔNG HỢP CHI = TỔNG (1) + TỔNG (2) + TỔNG (3)</h3>
			</td>
			<td width="15%" align="right">
				<font color="red" size="12">
					<B tal:content="Tracking/getPaidGeneralValuePrint" />
				</font>
			</td>
		</tr>
	</table>
	
	<table width="100%" border="0" cellpadding="2" >
		<tr>
			<td width="35%" align="center"></td>
			<td width="30%" align="center" />
			<td width="35%" align="center" tal:content="DateCurrent" />
		</tr>
		<tr>
			<td width="35%" align="center">NGƯỜI LẬP BẢNG</td>
			<td width="30%" align="center" />
			<td width="35%" align="center">P.GIÁM ĐỐC</td>
		</tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr>
			<td width="35%" align="center" />
			<td width="30%" align="center" />
			<td width="35%" align="center">Lê Nguyễn Đông Khoa</td>
		</tr>
	</table>
</body>