<body>
	<BR/>
	<table width="100%" border="0" cellpadding="2" >
		<tr>			
			<td width="50%" align="left"><B>KARAOKE BA ĐỨC</B></td>
			<td width="50%" align="right"><B tal:content="Title"/></td>
		</tr>
		<tr>			
			<td width="50%" align="left">ĐC: 67/26B Phó Cơ Điều, P.4, TP.VL</td>
			<td width="50%" align="right">Lưu hành nội bộ</td>
		</tr>
		<tr>			
			<td width="50%" align="left">ĐT: (0703) 828 555</td>
			<td width="50%" align="left" />
		</tr>
	</table>
	<BR/>
	<table width="100%" border="0" cellpadding="2" >		
		<tr>
			<th align="right" width="70%"><B>DƯ NỢ CŨ</B></th>
			<th align="right" width="30%"><H3 tal:content="php:Tracking->getCustomerOldDebtPrint( Customer->getId() )" /></th>
		</tr>
		<tr>
			<th align="right" width="70%"><B>PHIẾU NỢ TRONG KÌ</B></th>
			<th align="right" width="30%"><H3 tal:content="php:Tracking->getCustomerDebtSessionAllValuePrint( Customer->getId() )" /></th>
		</tr>
		<tr>
			<th align="right" width="70%"><B>ĐÃ TRẢ TRONG KÌ</B></th>
			<th align="right" width="30%"><H3 tal:content="php:Tracking->getCustomerCollectAllValuePrint( Customer->getId() )" /></th>
		</tr>
		<tr>
			<th align="right" width="70%"><B>DƯ NỢ MỚI</B></th>
			<th align="right" width="30%">
				<font color="red" size="12">
					<b tal:content="php:Tracking->getCustomerNewDebtPrint( Customer->getId() )" />
				</font>
			</th>
		</tr>		
	</table>
	<p /><p><b><font size="14">CHI TIẾT GIAO DỊCH TRONG KÌ</font></b></p>	
	<table width="100%" border="1" cellpadding="2" >
		<tr>
			<th width="5%"><B>STT</B></th>
			<th width="12%" align="left"><B>BẮT ĐẦU</B></th>
			<th width="12%" align="left"><B>KẾT THÚC</B></th>			
			<th width="12%" align="right" ><B>PHÒNG</B></th>
			<th width="29%" align="left" ><B>GHI CHÚ</B></th>
			<th width="15%" align="right"><B>PHIẾU NỢ</B></th>
			<th width="15%" align="right"><B>T.TOÁN ĐỦ</B></th>
		</tr>
		<tr tal:repeat="Session php:Tracking->getCustomerSessionAll( Customer->getId() )">
			<td align="center" 	tal:content="repeat/Session/number" />
			<td align="left" 	tal:content="Session/getDateTimePrint" />
			<td align="left" 	tal:content="Session/getDateTimeEndPrint" />			
			<td align="right" 	tal:content="Session/getTable/getName" />			
			<td align="left" 	tal:content="Session/getNote" />
			<td align="right">
				<span tal:condition="php: Session->getStatus()==2?true:false" tal:content="Session/getValuePrint" />
			</td>
			<td align="right">
				<span tal:condition="php: Session->getStatus()==1?true:false" tal:content="Session/getValuePrint" />
			</td>
		</tr>
		<tr>
			<th align="right" colspan="4" width="70%"><H3>TỔNG</H3></th>
			<th align="right" colspan="1" width="15%"><H3 tal:content="php:Tracking->getCustomerDebtSessionAllValuePrint( Customer->getId() )"/></th>
			<th align="right" colspan="1" width="15%"><H3 tal:content="php:Tracking->getCustomerFullSessionAllValuePrint( Customer->getId() )"/></th>
		</tr>
	</table>	
	<p /><p><b><font size="14">CHI TIẾT ĐÃ TRẢ TRONG KÌ</font></b></p>
	<table width="100%" border="1" cellpadding="2" >
		<tr>
			<th width="5%"><B>STT</B></th>
			<th width="12%" align="left"><B>NGÀY</B></th>						
			<th width="68%" align="left" ><B>GHI CHÚ</B></th>			
			<th width="15%" align="right"><B>SỐ TIỀN</B></th>
		</tr>
		<tr tal:repeat="Collect php:Tracking->getCustomerCollectAll( Customer->getId() )">
			<td align="center" 	tal:content="repeat/Collect/number" />
			<td align="left" 	tal:content="Collect/getDatePrint" />
			<td align="left" 	tal:content="Collect/getNote" />			
			<td align="right" 	tal:content="Collect/getValuePrint" />
		</tr>
		<tr>
			<th align="right" colspan="3" width="85%"><H3>TỔNG</H3></th>
			<th align="right" colspan="1" width="15%"><H3 tal:content="php:Tracking->getCustomerCollectAllValuePrint( Customer->getId() )"/></th>
		</tr>
	</table>
	<br/>
	<table width="100%" border="0" cellpadding="2" >
		<tr>
			<td width="35%" align="center"></td>
			<td width="30%" align="center" />
			<td width="35%" align="center" tal:content="DateCurrent" />
		</tr>
		<tr>
			<td width="35%" align="center">NGƯỜI LẬP BẢNG</td>
			<td width="30%" align="center" />
			<td width="35%" align="center">P.GIÁM ĐỐC</td>
		</tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr>
			<td width="35%" align="center" />
			<td width="30%" align="center" />
			<td width="35%" align="center">Lê Nguyễn Đông Khoa</td>
		</tr>
	</table>
</body>