<body>
	<BR/>
	<table width="100%" border="0" cellpadding="2" >
		<tr>			
			<td width="50%" align="left"><B>KHÁCH SẠN BA ĐỨC</B></td>
			<td width="50%" align="right"><B tal:content="Title"/></td>
		</tr>
		<tr>			
			<td width="50%" align="left">ĐC: 67/26B Phó Cơ Điều, P.4, TP.VL</td>
			<td width="50%" align="right">Lưu hành nội bộ</td>
		</tr>
		<tr>			
			<td width="50%" align="left">ĐT: (0703) 828 555</td>
			<td width="50%" align="left" />
		</tr>
	</table>
	<span tal:repeat="Category CategoryAll">
		<BR/>
		<table width="100%" border="1" cellpadding="2" >
			<tr>
				<th width="100%" align="left"><B tal:content="Category/getName"/></th>
			</tr>
			<tr>
				<th width="5%" align="center"><B>STT</B></th>
				<th width="45%" align="left"><B>MẶT HÀNG</B></th>
				<th width="20%" align="left"><B>ĐƠN VỊ</B></th>
				<th width="15%" align="right"><B>SỐ LƯỢNG</B></th>
				<th width="15%" align="right"><B>PHẦN TRĂM</B></th>
			</tr>
			<tr tal:repeat="Course Category/getCourseAll">
				<td align="center" tal:content="repeat/Course/number" />
				<td align="left" tal:content="Course/getName" />
				<td align="left" tal:content="Course/getUnit" />
				<td align="right" tal:content="php: Tracking->getCountCoursePrint( Course->getId() )"/>
				<td align="right" tal:content="php: round((Tracking->getCountCourse( Course->getId() )*100)/Tracking->getCountCategory( Category->getId() ),1) . '%'"/>
			</tr>
			<tr>
				<th colspan="3" width="70%" align="right"><B>TỔNG CỘNG</B></th>
				<th width="15%" align="right"><B tal:content="php: Tracking->getCountCategoryPrint( Category->getId() )" /></th>
				<th width="15%" align="right">100%</th>
			</tr>
		</table>
	</span>
</body>