<!DOCTYPE html>
<html style="overflow-y:hidden;" lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="container-fluid">							
				<div class="row">				
					<div class="col-12">
						<a href="#DialogDelSelected" data-toggle="modal" class="btn btn-primary btn-ins">
							<i class="glyphicons-remove_2"/> Xóa chọn
						</a>
						<div class="widget-box">							
							<div class="widget-content nopadding">								
								<table class="table table-bordered table-striped table-hover with-check">
									<thead>
										<tr>										
											<th width="40"><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox"/></th>
											<th width="120"><div class="text-left">THỜI GIAN</div></th>
											<th><div class="text-left">NHÂN VIÊN</div></th>
											<th width="120"><div class="text-right">THÀNH TIỀN</div></th>
											<th width="30">IN</th>
											<th width="30">XÓA</th>
										</tr>
									</thead>
									<tbody role="alert" aria-live="polite" aria-relevant="all">
										<tr tal:repeat="Session SessionAll">											
											<td class="center"><input class="CheckedDel" type="checkbox" tal:attributes="data-id Session/getId"/></td>
											<td><a tal:attributes="href Session/getURLDetail"><div tal:content="Session/getDateTimePrint"/></a></td>
											<td><div tal:content="Session/getUser/getName"/></td>
											<td><div class="text-right" tal:content="Session/getValuePrint"/></td>
											<td align="center"><a target="blank" tal:attributes="href Session/getURLPrint"><span class="glyphicons-print"/></a></td>
											<td class="center">
												<a class="remove-item" href="#DialogDel" data-toggle="modal" tal:attributes="data-id Session/getId">
													<i class="glyphicons-remove_2"/>
												</a>
											</td>
										</tr>
									</tbody>								
								</table>
							</div>  							
						</div>
						<div metal:use-macro="mAdmin.xhtml/PageBar"/>
						
						<!-- DELETE DIALOG  -->
						<div id="DialogDel" class="modal fade">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h3>XÓA GIAO DỊCH</h3>
									</div>
									<div class="modal-body">
										<p>Bạn có chắc muốn xóa mục này ?</p>
									</div>
									<div class="modal-footer">
										<button id="URLDelButton" class="btn btn-primary btn-small">Xóa</button>
										<button data-dismiss="modal" class="btn btn-default btn-small">Không</button>
									</div>
								</div>
							</div>
						</div>
						<!-- END DELETE DIALOG  -->
						
						<!-- DELETE SELECTED DIALOG  -->
						<div id="DialogDelSelected" class="modal fade">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header"><h3>XÓA GIAO DỊCH ĐÃ CHỌN</h3></div>
									<div class="modal-body">
										<p>Bạn có chắc muốn xóa không ?</p>
									</div>
									<div class="modal-footer">
										<button id="URLDelSelectedButton" class="btn btn-primary btn-small">Xóa</button>
										<button data-dismiss="modal" class="btn btn-default btn-small">Không</button>
									</div>
								</div>
							</div>
						</div>
						<!-- END DELETE DIALOG  -->
					</div>				
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
		//-----------------------------------------------------------------------------------
			//Delete 1 CATEGORY			
			//-----------------------------------------------------------------------------------
			$('.remove-item').click(function(){
				$('#URLDelButton').attr('alt', $(this).attr('data-id'));
			});
						
			//Khi người dùng Click vào nút URLDelButton thì tiến  hành gọi Ajax xóa tự động
			$('#URLDelButton').click(function(){
				var URL = "/object/del/Session/" + $(this).attr('alt');
				$.ajax({
					type: "POST",					
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
			
			$('#URLDelSelectedButton').click(function(){
				var count = 0;
				var Data = [];
				var URL = "/object/del/Session/0";
				
				$(".CheckedDel").each(function( i, obj){
					if ( $(this).is(':checked')==true ){
						count += 1;
						Data[count] = $(this).attr('data-id');
					}
				});
				
				$.ajax({
					type: "POST",
					data: {ListId:Data},
					url: URL,
					success: function(msg){
						location.reload();
					}
				});
			});
		/*]]>*/
		</script>
	</body>
</html>