<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/SellingDomainTableMoveLoad.js"/>
	</head>
<body>
	<div data-role="page" class="type-interior">
		<span metal:use-macro="macros.xhtml/header"/>
		<div data-role="content">
			<div class="content-primary">				
				<div class="TitleTable" tal:attributes="alt Table/getURLMoveExe" data-role="collapsible" data-collapsed="false" data-theme="e" data-content-theme="d">
					<h3 tal:content="php:'CHUYỂN ' . mb_strtoupper(Table->getName(),'UTF8') . ' ĐẾN'" />
					<div data-role="collapsible" data-collapsed="true" data-theme="b" data-content-theme="d" tal:repeat="Domain Domains">
						<h3 tal:content="Domain/getName" tal:condition="Domain/getTables/count"/>
						<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="d" tal:condition="Domain/getTables/count">
							<li class="Table" tal:repeat="Table1 Domain/getNonGuestTables" tal:attributes="alt Table1/getId">
								<span tal:condition="php: (Table1->getName() != Table->getName())? true : false">
									<a href="#"><span tal:content="Table1/getName"/></a>
								</span>
							</li>
						</ul>					
					</div>
				</div>
			</div>
			<div class="content-secondary">
				
			</div>
		</div>
		<span metal:use-macro="macros.xhtml/footer"/>
	</div>
</body>
</html>