<!DOCTYPE html>
<html style="overflow-y:hidden;" lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="container-fluid">							
				<div class="row">
					<div class="col-xs-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon"><i class="icon-align-justify"></i></span>
								<h5>CẬP NHẬT</h5>
							</div>
							<div class="widget-content nopadding">
								<form class="form-horizontal" tal:attributes="action Session/getURLUpdExe" method="post">									
									<div class="control-group">
										<label class="control-label" for="DateTime">Bắt đầu</label>
										<div class="controls">								
											<input type="text" name="DateTime" id="DateTime" tal:attributes="value Session/getDateTime" data-date-format="yyyy-mm-dd hh:ii" class="form-control input-sm"/>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="DateTimeEnd">Kết thúc</label>
										<div class="controls">								
											<input type="text" name="DateTimeEnd" id="DateTimeEnd" tal:attributes="value Session/getDateTimeEnd" data-date-format="yyyy-mm-dd hh:ii" class="form-control input-sm"/>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="IdCustomer">Khách hàng</label>
										<div class="controls">
											<select name="IdCustomer" id="IdCustomer" class="form-control input-sm">
												<option tal:repeat="Customer Customers" tal:attributes="value Customer/getId; selected php:Session->getIdCustomer()==Customer->getId()">
													<span tal:content="Customer/getName"/>
												</option>
											</select>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="Note">Ghi chú</label>
										<div class="controls">								
											<input type="text" name="Note" id="Note" tal:attributes="value Session/getNote" class="form-control input-sm"/>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="DiscountValue">Giảm giá (VNĐ)</label>
										<div class="controls">								
											<input type="text" name="DiscountValue" id="DiscountValue" tal:attributes="value Session/getDiscountValue" class="form-control input-sm"/>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="DiscountPercent">Giảm giá (%)</label>
										<div class="controls">
											<input type="text" name="DiscountPercent" id="DiscountPercent" tal:attributes="value Session/getDiscountPercent" class="form-control input-sm"/>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="Surtax">Phụ thu</label>
										<div class="controls">								
											<input type="text" name="Surtax" id="Surtax" tal:attributes="value Session/getSurtax" class="form-control input-sm"/>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="Status">Tính Tiền</label>
										<div class="controls">								
											<select name="Status" id="Status" class="form-control input-sm">
												<option value="0" tal:attributes="selected php:Session->getStatus()==0?true:false">CHƯA TÍNH</option>
												<option value="1" tal:attributes="selected php:Session->getStatus()==1?true:false">THANH TOÁN ĐỦ</option>
												<option value="2" tal:attributes="selected php:Session->getStatus()==2?true:false">NỢ PHIẾU</option>
											</select>
										</div>
									</div>	
									<div class="control-group">
										<label class="control-label" for="Payment">Tiền khách đưa</label>
										<div class="controls">								
											<input type="text" name="Payment" id="Payment" tal:attributes="value Session/getPayment" class="form-control input-sm"/>
										</div>
									</div>
									
									<div class="form-actions">
										<button class="btn btn-primary btn-sm" type="submit"><i class="icon-download-alt"/> Lưu</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript">
			/*<![CDATA[*/				
				$('#DateTime').datetimepicker({
					language:  'vi',
					weekStart: 1,
					todayBtn:  1,
					autoclose: 1,
					todayHighlight: 1,
					startView: 2,
					forceParse: 0,
					showMeridian: 1
				});
				
				$('#DateTimeEnd').datetimepicker({
					language:  'vi',
					weekStart: 1,
					todayBtn:  1,
					autoclose: 1,
					todayHighlight: 1,
					startView: 2,
					forceParse: 0,
					showMeridian: 1
				});
			/*]]>*/
		</script>
	</body>
</html>