<!DOCTYPE html>
<html style="overflow-y:hidden;" lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="container-fluid">							
				<div class="row">
					<div class="col-xs-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon"><i class="icon-table"/></span>
								<a tal:attributes="href Session/getURLUpdLoad"><h5>Click để cập nhật</h5></a>
							</div>
							<div class="widget-content nopadding">
								<div role="grid" class="dataTables_wrapper">																		
									<table cellpadding="10" border="0" width="100%">
										<tr>
											<td width="120"><div class="text-right">BẮT ĐẦU : </div></td>
											<td><div  class="text-left" tal:content="Session/getDateTimePrint"/></td>
										</tr>
										<tr>									
											<td><div class="text-right">KẾT THÚC : </div></td>
											<td><div  class="text-left" tal:content="Session/getDateTimeEndPrint"/></td>
										</tr>
										<tr>
											<td><div class="text-right">SỐ GIỜ : </div></td>
											<td><div  class="text-left" tal:content="Session/getHours"/></td>									
										</tr>
										<tr>									
											<td><div class="text-right">TIỀN GIỜ : </div></td>
											<td><div  class="text-left" tal:content="Session/getValueHoursPrint"/></td>
										</tr>
									</table>
									<table class="table table-bordered table-striped table-hover data-table">
										<thead>
											<tr>										
												<th width="30">STT</th>
												<th><div  class="text-left">TÊN MÓN</div></th>
												<th width="120"><div  class="text-right">SỐ LƯỢNG</div></th>
												<th width="120"><div class="text-right">ĐƠN GIÁ</div></th>
												<th width="120"><div class="text-right">THÀNH TIỀN</div></th>
												<th width="30" />
											</tr>
										</thead>
										<tbody>
											<tr tal:repeat="Detail Session/getDetails">
												<td><div tal:content="repeat/Detail/number" /></td>
												<td>
													<a tal:attributes="href Detail/getURLUpdLoad">
														<span tal:content="Detail/getCourse/getName" />
													</a>
												</td>
												<td><div class="text-right" tal:content="Detail/getCountPrint"/></td>
												<td><div class="text-right" tal:content="Detail/getPricePrint"/></td>
												<td><div class="text-right" tal:content="Detail/getValuePrint"/></td>
												<td><a tal:attributes="href Detail/getURLDelLoad"><span class="icon-remove"/></a></td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td colspan="4"><div class="text-right">TỔNG CỘNG</div></td>
												<td><div class="text-right" tal:content="Session/getValuePrint"/></td>
											</tr>
										</tfoot>
									</table>
									
								</div>  
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>