<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>		
	</head>
<body>	
	<div data-role="page" class="type-interior">		
		<span metal:use-macro="macros.xhtml/header"/>
		<div data-role="content">
			<div class="content-primary">				
				<form tal:attributes="action Recipe/getURLDelExe" method="post" data-ajax="false">
					<ul data-role="listview" data-theme="c" data-dividertheme="b">
						<li data-role="list-divider" tal:content="Title" />
					</ul>
					<p>Có đồng ý xóa ánh xạ không ?</p>
					<button data-corners="false" type="submit" data-theme="c"  data-icon="delete" name="submit" value="submit-value">Xóa</button>
				</form>
			</div>
			<div class="content-secondary">
				
			</div>
		</div>
		<span metal:use-macro="macros.xhtml/footer"/>
	</div>
</body>
</html>