<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						<div class="menu">
							<ul class="nav nav-list">
								<li class="nav-header">DANH MỤC</li>
								<li tal:repeat="Category1 CategoryAll" tal:attributes="class php:Category1->getId()==Category->getId()?'active':'disable'">
									<a tal:attributes="href Category1/getURLCourse">
										<i class="icon-beer" /><span tal:content="Category1/getName"/>
										<span class="badge badge-info pull-right" tal:content="Category1/getCourseAll/count"/>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="span9">												
						<div class="content">
							<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th width="30">STT</th>
										<th>TÊN</th>										
										<th width="30">XÓA</th>
									</tr>
								</thead>								
								<tbody>
									<tr tal:repeat="Course CourseAll">
										<td><div tal:content="repeat/Course/number" /></td>
										<td><a tal:attributes="href Course/getURLUpdLoad"><div tal:content="Course/getName"/></a></td>
										<td>
											<a class="btn" tal:attributes="href Course/getURLDelLoad"><span class="icon-remove"/></a>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="4" align="center">
											<a class="btn" tal:attributes="href Category/getURLCourseInsLoad"><span class="icon-plus"/>Thêm mới</a>
										</td>
									</tr>
								</tfoot>								
							</table>								
							<span metal:use-macro="mAdmin.xhtml/PageBar"/>							
						</div>						
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>