<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>		
	</head>
<body>		
	<div data-role="page" class="type-interior">
		<span metal:use-macro="macros.xhtml/header"/>
		<div data-role="content">
			<div class="content-primary">				
				<ul data-role="listview">
					<li data-role="list-divider" tal:content="php:'THIẾT LẬP / ' . mb_strtoupper(Domain->getName(), 'UTF8')"/>
					<li tal:repeat="Table Domain/getTables">
						<a data-ajax="false" tal:attributes="href Table/getURLUpdLoad">
							<span tal:content="repeat/Table/number" />. <span tal:content="Table/getName" />
							<span class="ui-li-count" tal:content="Table/getTypePrint" />
						</a>
						<a tal:attributes="href Table/getURLDelLoad" data-theme="c" data-icon="delete" />
					</li>
					<li>
						<a data-ajax="false" tal:attributes="href Domain/getURLTableInsLoad" data-theme="c">Thêm mới ...</a>
						<a data-ajax="false" tal:attributes="href Domain/getURLTableInsLoad" data-theme="c" data-icon="plus" />
					</li>
				</ul>
			</div>
			<div class="content-secondary">
				<ul data-role="listview" data-theme="c" data-dividertheme="d">
					<li data-role="list-divider" tal:content="string:CÁC KHU VỰC" />
					<li tal:repeat="Domain1 DomainAll" tal:attributes="data-theme php: Domain1->getId()==Domain->getId() ? 'a' : 'c'">
						<a tal:attributes="href Domain1/getURLTable" data-transition="none">
							<span tal:content="repeat/Domain1/number" />. <span tal:content="Domain1/getName" />
						</a>
					</li>
				</ul>
				<a data-corners="false" data-ajax="false" tal:attributes="href Domain/getURLUpdLoad" data-role="button" data-icon="edit" data-theme="c" ajax-data="false">Cập nhật</a>
			</div>
		</div>
		<span metal:use-macro="macros.xhtml/footer"/>
	</div>	
</body>
</html>