<!DOCTYPE html>
<html style="overflow-y:hidden;" lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>		
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="container-fluid">							
				<div class="row">
					<div class="col-xs-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon"><i class="icon-table"/></span>
								<h5 tal:content="Title"/> 
							</div>
							<div class="widget-content nopadding">
								<div role="grid" class="dataTables_wrapper">
									<table class="table table-bordered table-striped table-hover data-table">										
										<thead>
											<tr role="row">
												<th width="30"><div class="text-center">STT</div></th>
												<th><div class="text-left">TÊN</div></th>
												<th width="120"><div class="text-right">SỐ LƯỢNG</div></th>
												<th width="120"><div class="text-right">ĐƠN GIÁ</div></th>
												<th width="30" />
											</tr>
										</thead>
										<tbody role="alert" aria-live="polite" aria-relevant="all">
											<tr tal:repeat="Detail TypeRoom/getDefaultAll">
												<td><div class="text-center" tal:content="repeat/Detail/number" /></td>
												<td><a tal:attributes="href Detail/getURLUpdLoad"><div tal:content="Detail/getCourse/getName" /></a></td>
												<td><div class="text-right" tal:content="Detail/getCountPrint" /></td>
												<td><div class="text-right" tal:content="Detail/getPricePrint" /></td>
												<td><a tal:attributes="href Detail/getURLDelLoad"><span class="icon-remove"/></a></td>
											</tr>
										</tbody>										
									</table>
									<div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix">
										<div class="dataTables_filter">
											<label style="margin-top:5px;">
												<a tal:attributes="href TypeRoom/getURLCourseDefaultInsLoad"><span class="icon-plus"/> Thêm mới</a>
											</label>
										</div>										
									</div>
								</div>  
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>