<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						
					</div>
					<div class="span9">												
						<div class="content">
							<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th width="30"><div class="text-center">STT</div></th>
										<th>TÊN</th>
										<th width="120"><div class="text-right">SỐ LƯỢNG</div></th>
										<th width="120"><div class="text-right">ĐƠN GIÁ</div></th>
										<th width="30" />
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Detail TypeRoom/getDefaultAll">
										<td><div class="text-center" tal:content="repeat/Detail/number" /></td>
										<td><a tal:attributes="href Detail/getURLUpdLoad"><div tal:content="Detail/getCourse/getName" /></a></td>
										<td><div class="text-right" tal:content="Detail/getCountPrint" /></td>
										<td><div class="text-right" tal:content="Detail/getPricePrint" /></td>
										<td><a class="btn" tal:attributes="href Detail/getURLDelLoad"><span class="icon-remove"/></a></td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="4" align="center">
											<a class="btn btn-primary" tal:attributes="href TypeRoom/getURLCourseDefaultInsLoad">
												<span class="icon-plus"/>Thêm mới
											</a>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>