<body>
	<BR/>
	<span metal:use-macro="mAdmin.xhtml/ReportHeader"/>
	<p align="center"><span tal:content="OI/getDescription"/></p>
	<table width="100%" border="1" cellpadding="2" >
		<tr>
			<th width="5%"><B>STT</B></th>
			<th width="45%" align="left"><B>TÊN</B></th>
			<th width="25%" align="right" ><B>SỐ LƯỢNG</B></th>
			<th width="25%" align="right" ><B>ĐƠN VỊ</B></th>
		</tr>
		<tr tal:repeat="Detail OI/getDetails">
			<td align="center" tal:content="repeat/Detail/number" />
			<td>
				<span tal:content="Detail/getResource/getName" />
			</td>
			<td align="right" tal:content="Detail/getCountPrint" />
			<td align="right" tal:content="Detail/getResource/getUnit" />
		</tr>
	</table>
	<table width="100%" border="0" cellpadding="2" >
		<tr>
			<td width="35%" align="center"></td>
			<td width="30%" align="center" />
			<td width="35%" align="center"><span tal:content="DateCurrent" /></td>
		</tr>
		<tr>
			<td width="35%" align="center">QUẢN LÝ KHO</td>
			<td width="30%" align="center" />
			<td width="35%" align="center">THỦ QUỸ</td>
		</tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr>
			<td width="35%" align="center"></td>
			<td width="30%" align="center" />
			<td width="35%" align="center" />
		</tr>
	</table>
</body>