<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						<div class="menu">
							<ul class="nav nav-list">
								<li class="nav-header">NHÂN VIÊN</li>
								<li tal:repeat="Employee1 EmployeeAll" tal:attributes="class php:Employee1->getId()==Employee->getId()?'active':'disable'">
									<a tal:attributes="href Employee1/getURLPPR">
										<i class="icon-truck" /><span tal:content="Employee1/getName"/>
										<span class="badge badge-info pull-right" tal:content="Employee1/getPayRollAll/count"/>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="span9">												
						<div class="content">
							<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th width="30"><div class="text-center">STT</div></th>
										<th>NGÀY</th>
										<th width="120"><div class="text-right">CƠ BẢN</div></th>
										<th width="120"><div class="text-right">PHỤ CẤP</div></th>
										<th width="120"><div class="text-right">TẠM ỨNG</div></th>
										<th width="120"><div class="text-right">T.TIỀN</div></th>
										<th width="30" />
									</tr>
								</thead>								
								<tbody>
									<tr tal:repeat="Paid Employee/getPayRollAll">
										<td><div class="text-center" tal:content="repeat/Paid/number" /></td>
										<td><a tal:attributes="href Paid/getURLUpdLoad"><div tal:content="Paid/getDatePrint"/></a></td>										
										<td><div class="text-right" tal:content="Paid/getValueBasePrint"/></td>
										<td><div class="text-right" tal:content="Paid/getValueSubPrint"/></td>
										<td><div class="text-right" tal:content="Paid/getValuePrePrint"/></td>
										<td><div class="text-right" tal:content="Paid/getValueRealPrint"/></td>
										<td><a class="btn" tal:attributes="href Paid/getURLDelLoad"><span class="icon-remove"/></a></td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="3" align="center">
											<a class="btn btn-primary" tal:attributes="href Employee/getURLPPRInsLoad"><span class="icon-plus"/>Thêm mới</a>
										</td>
									</tr>
								</tfoot>								
							</table>								
							<span metal:use-macro="mAdmin.xhtml/PageBar"/>
						</div>						
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>