<!DOCTYPE html>
<html style="overflow-y:hidden;" lang="en">
	<head>
		<div metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
	</head>
	
	<body data-menu-position="closed">
		<div metal:use-macro="mAdmin.xhtml/Header"/>
		<div metal:use-macro="mAdmin.xhtml/MenuApp"/>
		<div id="content">
			<div metal:use-macro="mAdmin.xhtml/ContentHeader"/>
			<div metal:use-macro="mAdmin.xhtml/LocationBar"/>
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon"><i class="icon-table"/></span>
								<h5 tal:content="Title"/> 
							</div>
							<div class="widget-content nopadding">
								<div role="grid" class="dataTables_wrapper">
									<table class="table table-bordered table-striped table-hover data-table">
										<thead>
											<tr role="row">
												<th width="35">STT</th>
												<th><div class="text-left">TÊN</div></th>
												<th width="32"><i class="icon-dollar my-ico"/></th>
											</tr>
										</thead>
										<tbody role="alert" aria-live="polite" aria-relevant="all">
											<tr class="gradeA odd">
												<td align="center">1</td>
												<td><a tal:attributes="href '/paid/general'" >CHI CHUNG</a></td>
												<td align="center"><a tal:attributes="href '/paid/general'"><i class="icon-dollar"/></a></td>
											</tr>
											<tr class="gradeB even">
												<td align="center">2</td>
												<td><a tal:attributes="href '/paid/payroll'" >LƯƠNG</a></td>
												<td align="center"><a tal:attributes="href '/paid/payroll'"><i class="icon-dollar"/></a></td>
											</tr>
											<tr class="gradeA odd">
												<td align="center">3</td>
												<td><a tal:attributes="href '/paid/supplier'" >NHÀ CUNG CẤP</a></td>
												<td align="center"><a tal:attributes="href '/paid/supplier'"><i class="icon-dollar"/></a></td>
											</tr>								
										</tbody>
									</table>									
								</div> 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div metal:use-macro="mAdmin.xhtml/Footer"/>
		<div metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</body>
</html>
							