<body>
	<BR/>
	<table width="100%" border="0" cellpadding="2" >
		<tr>			
			<td width="50%" align="left"><B>KHÁCH SẠN BA ĐỨC</B></td>
			<td width="50%" align="right"><B tal:content="Title"/></td>
		</tr>
		<tr>			
			<td width="50%" align="left">ĐC: 67/26B Phó Cơ Điều, P.4, TP.VL</td>
			<td width="50%" align="right">Lưu hành nội bộ</td>
		</tr>
		<tr>			
			<td width="50%" align="left">ĐT: (0703) 828 555</td>
			<td width="50%" align="left" />
		</tr>
	</table>
	<BR />
	
	<table width="100%" border="1" cellpadding="2" >
		<tr>
			<th width="5%" align="center"><B>STT</B></th>
			<th width="20%" align="left"><B>NHÂN VIÊN</B></th>
			<th width="15%" align="left"><B>CHỨC VỤ</B></th>
			<th width="15%" align="right"><B>LƯƠNG CB</B></th>
			<th width="15%" align="right"><B>PHỤ CẤP</B></th>
			<th width="15%" align="right"><B>TẠM ỨNG</B></th>
			<th width="15%" align="right"><B>THỰC LÃNH</B></th>
		</tr>
		<tr tal:repeat="PPR Tracking/getPaidPayRollAll">
			<td align="center" tal:content="repeat/PPR/number" />
			<td align="left" tal:content="PPR/getEmployee/getName" />
			<td align="left" tal:content="PPR/getEmployee/getJob" />
			<td align="right" tal:content="PPR/getValueBasePrint" />
			<td align="right" tal:content="PPR/getValueSubPrint" />
			<td align="right" tal:content="PPR/getValuePrePrint" />
			<td align="right" tal:content="PPR/getValueRealPrint" />
		</tr>
		<tr>
			<th align="right" colspan="3"><H3>TỔNG CỘNG</H3></th>
			<th align="right">
				<span tal:content="Tracking/getPaidPayRollAllValueBasePrint" />
			</th>
			<th align="right">
				<span tal:content="Tracking/getPaidPayRollAllValueSubPrint" />
			</th>
			<th align="right">
				<span tal:content="Tracking/getPaidPayRollAllValuePrePrint" />
			</th>
			<th align="right">
				<H3 tal:content="Tracking/getPaidPayRollAllValueRealPrint" />
			</th>
		</tr>
	</table>
	
	<table width="100%" border="0" cellpadding="2" >
		<tr>
			<td width="35%" align="center"></td>
			<td width="30%" align="center" />
			<td width="35%" align="center" tal:content="DateCurrent" />
		</tr>
		<tr>
			<td width="35%" align="center">NGƯỜI LẬP BẢNG</td>
			<td width="30%" align="center" />
			<td width="35%" align="center">P.GIÁM ĐỐC</td>
		</tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr>
			<td width="35%" align="center" />
			<td width="30%" align="center" />
			<td width="35%" align="center">Lê Nguyễn Đông Khoa</td>
		</tr>
	</table>
</body>