<body>
	<BR/>
	<table width="100%" border="0" cellpadding="2" >
		<tr>			
			<td width="50%" align="left"><B>KHÁCH SẠN BA ĐỨC</B></td>
			<td width="50%" align="right"><B tal:content="Title"/></td>			
		</tr>
		<tr>			
			<td width="50%" align="left">67/26B Phó Cơ Điều, P.4, TP.VL</td>
			<td width="50%" align="right">Lưu hành nội bộ</td>
		</tr>
		<tr>			
			<td width="50%" align="left">ĐT: (0703) 828 555</td>
			<td width="50%" align="left" />
		</tr>
	</table>
	<BR />
	<table width="100%" border="1" cellpadding="2" >
		<tr>			
			<th width="10%" align="center"><B>STT</B></th>
			<th width="55%" align="left"><B>NHÀ PHÂN PHỐI</B></th>
			<th width="35%" align="right"><B>TỔNG TIỀN</B></th>
		</tr>		
		<tr tal:repeat="Supplier SupplierAll">
			<td align="center" tal:content="repeat/Supplier/number" />
			<td align="left" tal:content="Supplier/getName" />
			<td align="right" tal:content="php:Tracking->getOrderAllValuePrint( Supplier->getId() )" />
		</tr>		
		<tr>
			<th align="right" colspan="2"><H3>TỔNG CỘNG</H3></th>
			<th align="right">
				<H3 tal:content="php:Tracking->getOrderAllSumValuePrint()" />
			</th>
		</tr>		
	</table>
	<!--
	<P align="right">
		(<span tal:content="php:Tracking->getOrderAllValueStrPrint( Supplier->getId() )" />)
	</P>	
	!-->
	<table width="100%" border="0" cellpadding="2" >
		<tr>
			<td width="35%" align="center"></td>
			<td width="30%" align="center" />
			<td width="35%" align="center" tal:content="DateCurrent" />
		</tr>
		<tr>
			<td width="35%" align="center">NGƯỜI LẬP BẢNG</td>
			<td width="30%" align="center" />
			<td width="35%" align="center">P.GIÁM ĐỐC</td>
		</tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr><td width="35%" /><td width="30%" /><td width="35%" /></tr>
		<tr>
			<td width="35%" align="center" />
			<td width="30%" align="center" />
			<td width="35%" align="center">Lê Nguyễn Đông Khoa</td>
		</tr>
	</table>
</body>