<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>		
	</head>
<body>
	<div id="PageSellingDomainTableSessionDetailDelLoad" data-role="page">
		<span metal:use-macro="macros.xhtml/header"/>
		<div data-role="content">
			<div class="content-primary">
				
				<form tal:attributes="action SD/getURLDelExe" method="post" ajax="false">
					<ul data-role="listview" data-theme="c" data-dividertheme="b">
						<li data-role="list-divider" tal:content="Title" />
					</ul>
					<p>Bạn có chắc muốn hủy chi tiết gọi món <b tal:content="SD/getCourse/getName" /> không ?</p>
					<button data-corners="false" type="submit" data-theme="c"  data-icon="delete" name="submit" value="submit-value">Xóa</button>
				</form>

			</div>
			<div class="content-secondary">
				
			</div>
		</div>
		<span metal:use-macro="macros.xhtml/footer"/>
	</div>
</body>
</html>