<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						<div class="menu">
							<ul class="nav nav-list">
								<li class="nav-header">DANH MỤC</li>
								<li tal:repeat="Domain1 DomainAll" tal:attributes="class php:Domain1->getId()==Domain->getId()?'active':'disable'">
									<a tal:attributes="href Domain1/getURLSelling">
										<i class="icon-shopping-cart" /><span tal:content="Domain1/getName"/>
										<span class="badge badge-info pull-right" tal:content="Domain1/getTableAll/count"/>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="span9">												
						<div class="content">
							<span metal:use-macro="mAdmin.xhtml/LocationBar"/>							
							<table class="table table-striped table-hover">
								<thead>
									<tr>										
										<th>PHÒNG</th>
										<th width="120"><div class="text-left">PHIẾU</div></th>
										<th width="60"><div class="text-center">IN</div></th>
										<th width="60"><div class="text-center">VÀO</div></th>
										<th width="60"><div class="text-center">RA</div></th>
										<th width="60"><div class="text-center">GỌI</div></th>
										<th width="60" tal:condition="php: @\MVC\Base\SessionRegistry::instance()->getCurrentUser()->isAdmin()">
											<div class="text-center">SỔ</div>
										</th>
										<th width="60"><div class="text-center">DỜI</div></th>										
										<th width="60"><div class="text-center">GOM</div></th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Table Domain/getTableAll" tal:attributes="class php: Table->getSessionActive()!=null ? 'success':''">
										<td><div tal:content="Table/getName" /></td>
										<td>
											<a class="btn btn-primary" tal:condition="Table/getSessionActive" tal:attributes="href Table/getSessionActive/getURLDetail">
												<span tal:content="Table/getSessionActive/getValuePrint" />
											</a>
										</td>
										<td>
											<div class="text-center">
												<a class="btn" tal:condition="Table/getSessionActive" target="blank" tal:attributes="href Table/getSessionActive/getURLPrint"><span class="icon-print"/></a>
											</div>
										</td>										
										<td>
											<div class="text-center">
												<a class="btn" tal:condition="not: Table/getSessionActive" tal:attributes="href Table/getURLCheckinExe"><span class="icon-arrow-right"/></a>
											</div>	
										</td>
										<td>
											<div class="text-center">
												<a class="btn" tal:condition="Table/getSessionActive" tal:attributes="href Table/getSessionActive/getURLCheckoutExe"><span class="icon-arrow-left"/></a>
											</div>	
										</td>
										<td>
											<div class="text-center">
												<a class="btn" tal:condition="Table/getSessionActive" tal:attributes="href Table/getURLCallLoad"><span class="icon-plus"/></a>
											</div>	
										</td>
										<td tal:condition="php: @\MVC\Base\SessionRegistry::instance()->getCurrentUser()->isAdmin()">
											<div class="text-center">
												<a class="btn" tal:attributes="href Table/getURLLog"><span class="icon-edit"/></a>
											</div>	
										</td>
										<td>
											<div class="text-center">
												<a class="btn" tal:condition="Table/getSessionActive" tal:attributes="href Table/getURLMoveLoad"><span class="icon-move"/></a>
											</div>	
										</td>
										<td>
											<div class="text-center">
												<a class="btn" tal:condition="Table/getSessionActive" tal:attributes="href Table/getURLMergeLoad"><span class="icon-resize-small"/></a>
											</div>	
										</td>
									</tr>
								</tbody>								
							</table>
						</div>						
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>