<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="span3" />
				<div class="span9 main">
					<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
					<form class="form-horizontal" tal:attributes="action Resource/getURLUpdExe" method="post">
						<div class="control-group">
							<label class="control-label" for="Name">Tên</label>
							<div class="controls">
								<input id="Name" name="Name" type="text" tal:attributes="value Resource/getName"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Unit">Đơn vị</label>
							<div class="controls">
								<select name="Unit" id="Unit">
									<option tal:repeat="Unit Units" tal:attributes="value Unit/getName;selected php:Resource->getUnit()==Unit->getName()">
										<span tal:content="Unit/getName" />
									</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Price">Giá</label>
							<div class="controls">
								<input id="Price" name="Price" type="text" tal:attributes="value Resource/getPrice"/>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Description">Diễn giải</label>
							<div class="controls">
								<input id="Description" name="Description" type="text" tal:attributes="value Resource/getDescription"/>
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<button type="submit" class="btn btn-primary" value="submit-value">Cập nhật</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>